<!--
Generated template for the currentDishDetailsPage page.

See http://ionicframework.com/docs/v2/components/#navigation for more info on
Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons start>
      <button ion-button> <!--(click)="sharecurrentDish()" [disabled]="isPreview">-->
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{currentDish.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="currentDish" class="selection">
    <!--<ion-card>-->
      <img src="{{currentDish.photo}}"/>
      <!--<ion-item text-wrap>
        <h1>{{currentDish.name}}</h1>
      </ion-item>-->

      <ion-item>
        <p class="item-description">{{currentDish.description}}</p>
      </ion-item>
      <!--<ion-item>
        <ion-icon name='pin' item-left></ion-icon>
        {{currentDish.distance}}
      </ion-item>-->
      <ion-item>
        <ion-icon name='restaurant' item-left></ion-icon>
        {{currentDish.portionsLeftNumber}}
      </ion-item>
      <ion-item>
        <ion-icon name='pricetag' item-left></ion-icon>
        {{currentDish.price}}€
      </ion-item>
      <ion-item>
        <ion-icon name='time' item-left></ion-icon>
        {{currentDish.dateString}} : {{currentDish.timeStartString}} - {{currentDish.timeEndString}}
      </ion-item>
    <!--</ion-card>-->
    <!--<ion-card>-->
      <ion-item *ngIf="seller">
        <ion-avatar item-left>
          <img [(src)]="seller.avatar">
        </ion-avatar>
        <h2>{{seller.firstName}} {{seller.lastName}}</h2>
      </ion-item>
      <!-- <ion-row>
        <ion-col center text-center>
          <button clear item-left (click)="sendMessage()">
            <ion-icon name="mail"></ion-icon>
            Contacter
          </button>
        </ion-col>
      </ion-row>
    </ion-card>-->
  </div>
  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="order()" [disabled]="currentDish.portionsLeftNumber <= 0">
      <ion-icon name="basket"></ion-icon></button>
  </ion-fab>
</ion-content>